.hidden {
  display: none;
}

.pushRight {
  float: right;
}

.adminRoot {
  padding-left: 20px;
  padding-right: 20px;
}

.adminBackground {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 1280px;
  width: 100%;
  min-height: 100%;
}

.adminContainer {
  position: relative;
  margin: 30px auto;
  padding: 30px;
  max-width: 1080px;
  border-radius: 6px;
  background: white;
  box-shadow: 0 5px 0 #bbb;
}

@media only screen and (max-width: 768px) {
  .adminContainer {
    padding: 20px;
  }
}

.filterPagination {
  max-width: 1140px;
  margin: 0 auto;
}

.dataTable {
  position: relative;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.dataTable td,
.dataTable th {
  padding: 10px;
  font-family: 'Calibri', sans-serif;
  font-size: 18px;
  text-align: left;
  color: #444;
}

.dataTable th {
  font-style: italic;
  border-bottom: 1px solid #666;
  font-weight: normal;
}

.dataTable td.checkBox {
  width: 20px;
  text-align: center;
}

.dataTable td.nameCell {
  font-weight: bold;
}

.dataTable td.idCell {
  word-wrap: break-word;
}

.dataTable td.radioCell {
  text-align: center;
}

.dataTable td.radioHeadCell {
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  width: 50px;
}

.dataTable td.small {
  max-width: 150px;
}

.dataTable td.buttonCell {
  width: 60px;
  text-align: center;
}

.dataTable tr:nth-child(odd) td {
  background: #eee;
}

.shadowButton {
  display: block;
  min-width: 60px;
  padding: 10px 10px 6px 10px;
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #69a551;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 3px 0 #3d8c72;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  outline: none;
}

.shadowButton:hover {
  background-color: color(#69a551 lightness(-2%));
  box-shadow: 0 3px 0 color(#3d8c72 lightness(-2%));
}

.shadowButton.danger {
  background-color: #c82130;
  box-shadow: 0 3px 0 #9a2524;
}

.shadowButton.danger:hover {
  background-color: color(#c82130 lightness(-2%));
  box-shadow: 0 3px 0 color(#c82130 lightness(-12%));
}

.formLabel {
  display: block;
  width: 350px;
  font-family: 'Calibri', sans-serif;
  margin: 0 auto;
  font-size: 14px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .formLabel {
    width: 100%;
  }
}

.formInput {
  width: 350px;
  height: 34px;
  font-family: 'Calibri', sans-serif;
  display: block;
  margin: 2px auto 16px;
  padding: 5px 8px;
  font-size: 18px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .formInput {
    width: 100%;
  }
}

.formInput.long {
  height: 120px;
}

.formInput::placeholder {
  color: #ccc;
}

.smallHidden {
  /* small hidden */
}

.mediumHidden {
  /* medium hidden */
}

@media only screen and (max-width: 768px) {
  .smallHidden {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .mediumHidden {
    display: none;
  }
}

.frontIcon {
  margin-right: 10px;
}

.okIcon {
  color: #3d8c72;
}

.errorIcon {
  color: #cd5c5c;
}

.error {
  color: #cd5c5c;
}

.errorInput {
  border: 1px solid #cd5c5c;
  background: #faeeee;
}

.rightGap {
  margin-right: 10px;
}

.boxError {
  text-align: center;
  color: #cd5c5c;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: -5px;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-left: left;
}

.clearFixed {
  clear: both;
}